.main {
  position: relative;
  isolation: isolate;
  @media all and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
    height: 100vh;
    font-size: 6vw;  
    font-family:'open sans';
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    background-color: black;
  }
  color: white;
}
.main::after{
position: absolute;
content: "";
inset: 0;
z-index: -1;
background-color: black;
opacity: 0.7;
background-image: url('/assets/space2.jpg');
background-size: cover;
/* background-position: top; */
background-repeat: no-repeat;
}
.main::before{
  position: absolute;
  content: "";
  inset: 0;
  z-index: -2;
  background-color: black;
  opacity: 1;
  background-image: url('/assets/space.jpg');
  background-position: top;
  background-repeat: no-repeat;
  }
.eventHead-div{
width: 100%;
text-align: center;

}
.event-ul{
display: flex;
flex-direction: column;
gap: 2.5vh;

}
li {
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  border: 2px dotted white;
  margin: 0vh 15vw;
  border-radius: 5vw;
    margin-top: 10px;
    font-family:'open sans';
    font-weight: 600;
}

li:hover{
color: white;
background-color: black;
}
.verify-welcome{
  line-height:6vh;
text-align: center;
padding-bottom: 5vh;
font-size: 12vw;

}
.verify-welcome span{
  color: orangered;
}
.food-com {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 10%;
  font-weight: 600;

}
.food-com h1{
  font-family:'proxon';
  letter-spacing: 4px;

}

.qr-parent {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  position: relative;
  isolation: isolate;
}
.qr-bg {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 98;
}
.none {
  display: none;
}
.load {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 50px;
  font-family: proxon;
  z-index: 99;
  top: 45%;
  font-weight: 900;
}
.qr-parent::before {
  position: absolute;
  z-index: -2;
  content: " ";
  inset: 0;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/images/topography.svg");
}
.qr-parent:after {
  position: absolute;
  z-index: -1;
  content: " ";
  inset: 0;
  opacity: 0.1;
  background-size: contain;
  background-image: url("/images/food.svg");
}
.qr-name {
  font-family: audiowide;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20vh;
  font-weight: 600;
}
.qr-name > span {
  color: orangered;
  font-size: inherit;
  font-family: inherit;
}
.qr-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  padding: 5vh 10vw;
  border-radius: 5%;
  position: relative;
  isolation: isolate;
  z-index: 1;
}
.qr-options:after {
  content: " ";
  position: absolute;
  z-index: -1;
}
.qr-options h1 {
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 900;
  font-family: zeniq;
  border: 2px solid orangered;
  border-radius: 2vw;
  width: 250px;
  text-align: center;
  cursor: pointer;
}